@media only screen and (min-width:600px){
  .App {
  text-align: center;
}
/* 
.parent {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 6px;
  } */


/* .article-card {
  margin: 2em;
  padding: 1em;
  display: flex;
  order:3;
  justify-content:space-between;
  align-items:flex-start;
  align-content: center;
  column-gap: 10em;
} */
Header{
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 50pt;
  margin-top: 1em;
}
  .article-card-list{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 0.5fr 1fr 1fr; 
    gap: 29px 26px; 
    grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."; 
    margin: 3em;
    padding: 2em;
  }
  /* .article-card {
  
  } */
  .author-name{
    align-items: center;
    justify-content: center;
    color: grey;
  }
  .topic-name{
    padding: 5px;
    border: solid 1px black;
    width: fit-content;
    border-radius: 0px 12px 12px 12px;
    font-weight: 300;
    text-underline-position: below;
  }
}
